<h3>Reactive Forms</h3>

<form action="" [formGroup]="rform" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="stock">Stock</label>
    <select formControlName="stock" id="stock" class="form-control">
      <option *ngFor="let code of stockCodes" [value]="code">{{ code }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="qty">Quantity</label>
    <input type="number" formControlName="qty" id="qty" class="form-control" />
    <div class="alert alert-info" *ngIf="fQty.pending">Evaluating checks on qty</div>
    <div class="alert alert-danger" *ngIf="fQty.touched && fQty.invalid">
      <div *ngIf="fQty.errors.required">
        Quantity of stocks traded is mandatory
      </div>
      <div *ngIf="fQty.errors.positive">Quantity must be positive</div>
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description </label>
    <input
      type="text"
      id="description"
      class="form-control"
      placeholder="Enter a description"
      formControlName="desc"
    />
    <div class="alert alert-danger" *ngIf="fDesc.touched && fDesc.invalid">
      <div *ngIf="fDesc.errors.equals42">
        {{ fDesc.errors.equals42 | json }}
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!rform.valid">
    Submit
  </button>
</form>
<div>Debug:{{ rform.value | json }}</div>
