<h3>Template Forms</h3>
<ul class="nav">
  <li class="nav-item">
    <a href="#" class="nav-link active">Bootstrap NavLink1</a>
  </li>
  <li class="nav-item"><a href="#" class="nav-link active">Page2</a></li>
</ul>

<form action="">
  <div class="form-group">
    <label for="field.stock">Stock </label>
    <input
      type="text"
      id="field.stock"
      class="form-control"
      placeholder="NSE/BSE code"
      ngModel
      #fStock="ngModel"
      (change)="log(fStock)"
      name="field.stock"
      required
      minlength="5"
    />
    <div
      class="alert alert-danger"
      *ngIf="fStock.touched && !fStock.valid && fStock.control.errors.required"
    >
      Stock is required
    </div>
    <div
      class="alert alert-warning"
      *ngIf="fStock.touched && !fStock.valid && fStock.control.errors.minlength"
    >
      Stock should be of min
      {{ fStock.control.errors.minlength.requiredLength }} chars
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
