<h3>Template Forms</h3>
<ul class="nav">
  <li class="nav-item">
    <a href="#" class="nav-link active">Bootstrap NavLink1</a>
  </li>
  <li class="nav-item"><a href="#" class="nav-link active">Page2</a></li>
</ul>

<form action="" #theForm="ngForm" (ngSubmit)="onSubmit(theForm)">
  <div class="form-group">
    <label for="stock">Stock</label>
    <select ngModel name="stock" required id="stock" class="form-control">
      <option *ngFor="let code of stockCodes" [value]="code">{{ code }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="qty">Quantity</label>
    <input
      type="number"
      required
      min="0"
      ngModel
      name="qty"
      #fQty="ngModel"
      (change)="log(fQty)"
      id="qty"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="fQty.touched && !fQty.valid && fQty.control.errors.required"
    >
      Quantity of stocks traded is mandatory
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description </label>
    <input
      type="text"
      id="description"
      class="form-control"
      placeholder="Enter a description"
      ngModel
      name="desc"
    />
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!theForm.valid">
    Submit
  </button>
</form>
<div>Debug:{{ theForm.form.value | json }}</div>
