<h2>{{title}}</h2>

<ul>
    <li>Property binding <span [textContent]='title'></span></li>
</ul>
<br/>
<ul>
    <li *ngFor="let sample of samples">Sample=>{{sample}}</li>
</ul>
<button (click)="handleSave($event)">Event bind - Check Console</button>
<input type="text" (keyup.enter)="onTextEnter($event)">
<input #templateVar type="text" (keyup.enter)="onTemplateTextEnter(templateVar.value)">
<div>
    <p>TwoWay binding</p>
    <input type="text" [(ngModel)]="compVar">
    <button (click)="logTwoWayBoundVar()">Log 2-way bound var</button>
</div>



